@use '../base/variables';

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    margin: 2rem;

    .header__logo{
        width: 10%;
    }

    .header__input{
        font-size: variables.$font-size-m;

        &::placeholder{
            font-size: variables.$font-size-m;
            color: variables.$white;
            opacity: 16%;

            
        }
    }

    .header__perfil{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15.3%;
        padding: 1rem;
        border-radius: .5rem;
        gap: 1.5rem;
        transition: all .3s ease-in-out;

        .header__perfil-logo{
            border-radius: 50%;
            width: 30%;
        }

        .header__perfil-nome{
            font-size: variables.$font-size-l;
        }

        &:hover{
            cursor:url('../assets/cursor-pointer.png'), auto;
            background-color: variables.$blue-350;
            transition: all .3s ease-in-out;
        }
    }
}