// cores 

$dark-gray: #141414;
$white: #fff;

$mac_green: #27c93f;
$mac_red: #ff5f56;
$mac_yellow: #ffbd2e;

$blue-100: #96b9fd;
$blue-200: #7ba4fc;
$blue-300: #5081fb;
$dark-blue: #051d3b;

    // box-shadow
$box-shadow: 0 16px rgba(0,0,0,0.24);

// tipografia

    // font-family

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-family: "Inter", serif;


    // font-size

$font-size-title: 1.3125rem;
$font-size-body: 1rem;
$font-size-sidebar-title: .75rem;

    // line-height
$line-height-title: 2rem;
$line-height-body: 1.5rem;
$line-height-sidebar-title: 1.125rem;





