@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

body {
  color: #fff;
  background: #051d3b;
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
  margin: 2rem;
}
@media screen and (max-width: 1600px) {
  header {
    gap: 8rem;
  }
}
@media screen and (max-width: 480px) {
  header {
    margin: 1rem;
    gap: 0rem;
  }
}
header .header__logo {
  width: 10%;
}
@media screen and (max-width: 1600px) {
  header .header__logo {
    width: 20%;
  }
}
@media screen and (max-width: 480px) {
  header .header__logo {
    width: 45%;
  }
}
header .header__input {
  font-size: 1.5rem;
}
@media screen and (max-width: 770px) {
  header .header__input {
    padding: 1rem 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  header .header__input {
    display: none;
    position: fixed;
    z-index: 999;
    width: 90%;
    top: 10%;
  }
}
header .header__input::-moz-placeholder {
  font-size: 1.5rem;
  color: #fff;
  opacity: 16%;
}
header .header__input::placeholder {
  font-size: 1.5rem;
  color: #fff;
  opacity: 16%;
}
header .header__perfil {
  width: 15.3%;
}
header .header__perfil .header__perfil-logo {
  border-radius: 50%;
  width: 30%;
}
@media screen and (max-width: 1600px) {
  header .header__perfil {
    display: none;
  }
}

.menu-toggle-bar {
  display: none;
}
.menu-toggle-bar i {
  cursor: url("../../assets/cursor-pointer.png"), auto;
  padding: 1rem;
  border-radius: 1rem;
  transition: all ease-in-out 0.3s;
}
.menu-toggle-bar i:hover {
  background-color: #41536a;
  transition: all ease-in-out 0.3s;
}
.menu-toggle-bar i:nth-child(1) {
  display: none;
}
@media screen and (max-width: 1600px) {
  .menu-toggle-bar {
    display: block;
  }
}
@media screen and (max-width: 1600px) and (max-width: 480px) {
  .menu-toggle-bar i:nth-child(1) {
    display: block;
  }
}

.first {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.first .row-1 {
  display: none;
}
@media screen and (max-width: 1600px) {
  .first {
    padding: 2rem;
    background-color: #051d3b;
    height: 100%;
    width: 25%;
    display: block;
    display: none;
    position: fixed;
    left: 100;
    right: 0;
    top: 10px;
  }
}
@media screen and (max-width: 1600px) and (max-width: 760px) {
  .first {
    width: 45%;
    z-index: 999;
  }
}
@media screen and (max-width: 1600px) and (max-width: 480px) {
  .first {
    width: 60%;
  }
}
@media screen and (max-width: 1600px) and (max-width: 320px) {
  .first {
    width: 55%;
  }
}
@media screen and (max-width: 1600px) {
  .first .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .first .row-1 i {
    cursor: url("../../assets/cursor-pointer.png"), auto;
    margin-top: -3.5rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: all ease-in-out 0.3s;
  }
  .first .row-1 i:hover {
    background-color: #41536a;
    transition: all ease-in-out 0.3s;
  }
  .first .menu__perfil {
    justify-content: start;
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1600px) and (max-width: 480px) {
  .first .menu__perfil {
    gap: 0.2rem;
  }
}
@media screen and (max-width: 1600px) {
  .first .menu__perfil .menu__perfil-logo {
    border-radius: 50%;
    width: 20%;
  }
}
@media screen and (max-width: 1600px) and (max-width: 480px) {
  .first .menu__perfil .menu__perfil-logo {
    width: 35%;
  }
}
@media screen and (max-width: 1600px) and (max-width: 320px) {
  .first .menu__perfil .menu__perfil-logo {
    width: 50%;
  }
}
@media screen and (max-width: 1600px) {
  .first .menu__perfil .menu__perfil-nome {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1600px) and (max-width: 480px) {
  .first .menu__perfil .menu__perfil-nome {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1600px) and (max-width: 320px) {
  .first .menu__perfil .menu__perfil-nome {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1600px) {
  .first h2 {
    margin-bottom: 1rem;
  }
}
.first .menu-sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.05rem;
}
@media screen and (max-width: 1600px) {
  .first .menu-sidebar__list {
    gap: 1rem;
  }
}
.first .menu-sidebar__list .menu-sidebar__list-item {
  cursor: url("../assets/cursor-pointer.png"), auto;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 320px) {
  .first .menu-sidebar__list .menu-sidebar__list-item {
    gap: 0.2rem;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
  }
}
.first .menu-sidebar__list .menu-sidebar__list-item > div {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #5081fb;
}
.first .menu-sidebar__list .menu-sidebar__list-item:hover {
  box-shadow: 0 0 5px 0px #5081fb;
  transition: all 0.3s ease-in-out;
}

.unselect {
  opacity: 16%;
}
.unselect:hover {
  opacity: 1;
}

.second {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-left: 6rem;
}
@media screen and (max-width: 1600px) {
  .second {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 320px) {
  .second {
    width: 115%;
  }
}
.second .code-editor {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #69cefb;
  height: 566px;
}
@media screen and (max-width: 320px) {
  .second .code-editor {
    height: 480px;
    padding: 1rem;
  }
}
.second .code-editor .code-editor__area {
  padding: 2rem;
  background-color: #141414;
  height: 88%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 320px) {
  .second .code-editor .code-editor__area {
    padding: 0.6rem;
    height: 97%;
  }
}
.second .code-editor .code-editor__area textarea {
  border: black;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0.2rem;
  font-family: "Inter", serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #fff;
  resize: none;
  height: 100%;
  background-color: #141414;
}
.second .code-editor .code-editor__area textarea::-webkit-scrollbar {
  border-radius: 0 1rem 1rem 0;
  background-color: #41536a;
  width: 5px;
}
.second .code-editor .code-editor__area textarea::-webkit-scrollbar-thumb {
  background-color: #96b9fd;
  border-radius: 1rem;
}
@media screen and (max-width: 320px) {
  .second .code-editor .code-editor__area textarea {
    font-size: 0.8rem;
  }
}
.second .code-editor__button {
  border: none;
  width: 100%;
  background-color: rgba(80, 129, 251, 0.0784313725);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
  cursor: url("../assets/cursor-pointer.png"), auto;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.second .code-editor__button:hover {
  background-color: rgba(80, 129, 251, 0.1607843137);
  transition: all 0.3s ease-in-out;
}
.second .code-editor__button:focus {
  background-color: rgba(80, 129, 251, 0.2392156863);
}
@media screen and (max-width: 320px) {
  .second .code-editor__button {
    font-size: 1.2rem;
  }
}

.circles {
  display: flex;
  gap: 0.5rem;
}
.circles .circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: aliceblue;
  color: transparent;
}
.circles .circle:nth-child(1) {
  background-color: #ff5f56;
}
.circles .circle:nth-child(2) {
  background-color: #ffbd2e;
}
.circles .circle:nth-child(3) {
  background-color: #27c93f;
}

.third {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 1600px) {
  .third {
    margin-top: 1rem;
    width: 100%;
  }
}
.third .input {
  width: 105%;
  border-radius: 0.5rem;
  padding: 0.875rem;
}
.third .input:last-child {
  height: 80px;
}
@media screen and (max-width: 1600px) {
  .third .input {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .third .input {
    font-size: 1.2rem;
  }
}
.third .project {
  padding: 0 2rem 0rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (max-width: 320px) {
  .third .project input {
    width: 102%;
  }
}
.third .project-custom {
  padding: 0 2rem 0rem 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (max-width: 1600px) {
  .third .project-custom {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .third .project-custom h2 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .third .project-custom {
    flex-direction: column;
  }
}
.third .project-custom .input {
  cursor: url("../assets/cursor-default.png"), auto;
  width: 113%;
  padding: 1rem;
}
@media screen and (max-width: 1600px) {
  .third .project-custom .input {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .third .project-custom .input {
    width: 100%;
  }
}
.third .project-custom select option {
  cursor: url("../assets/cursor-default.png"), auto;
}
.third .project-custom select option:hover {
  background-color: #141414;
}
.third .project-custom > div {
  border: 1px solid #fff;
  padding: 0.6rem;
  border-radius: 0.5rem;
  width: 107%;
}
@media screen and (max-width: 1600px) {
  .third .project-custom > div {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .third .project-custom > div {
    width: 90%;
  }
}
.third .project-custom > div input {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 50px;
  border-radius: 1rem;
}
@media screen and (max-width: 1600px) {
  .third .project-custom > div input {
    width: 100%;
  }
}

.project-button {
  border: none;
  cursor: url("../assets/cursor-pointer.png"), auto;
  background-color: #5081fb;
  border-radius: 0.5rem;
  padding: 1.5rem 0;
  width: 104%;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}
.project-button:hover {
  background-color: #7ba4fc;
  color: #141414;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1600px) {
  .project-button {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .project-button {
    font-size: 1.5rem;
  }
}

.fourth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
  width: 100%;
  gap: 2rem;
}
@media screen and (max-width: 1600px) {
  .fourth {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.fourth .card {
  width: 48.5%;
  background-color: rgba(80, 129, 251, 0.0784313725);
  border-radius: 2.5rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1600px) {
  .fourth .card {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .fourth .card {
    width: 110%;
  }
}
.fourth .card .card__code-editor {
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: #27c93f;
  display: flex;
  flex-direction: column;
  gap: 0;
}
@media screen and (max-width: 480px) {
  .fourth .card .card__code-editor {
    height: 400px;
  }
}
@media screen and (max-width: 320px) {
  .fourth .card .card__code-editor {
    padding: 0.5rem;
    height: 300px;
  }
}
.fourth .card .card__code-editor .card__code-editor-area {
  padding: 0.8rem;
  border-radius: 0.5rem;
  height: 464px;
  background-color: #141414;
}
@media screen and (max-width: 480px) {
  .fourth .card .card__code-editor .card__code-editor-area {
    height: 400px;
  }
}
@media screen and (max-width: 320px) {
  .fourth .card .card__code-editor .card__code-editor-area {
    height: 300px;
  }
}
.fourth .card .card__code-editor .card__code-editor-area textarea {
  cursor: url("../../assets/cursor-default.png"), auto;
  text-align: start;
  border: none;
  overflow: hidden;
  height: 95%;
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
  font-family: "Inter", serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #fff;
  resize: none;
  background-color: #141414;
}
@media screen and (max-width: 480px) {
  .fourth .card .card__code-editor .card__code-editor-area textarea {
    height: 90%;
  }
}
.fourth .card .card__area {
  padding: 2rem;
}
@media screen and (max-width: 320px) {
  .fourth .card .card__area {
    padding: 0.5rem 1.4rem;
  }
}
.fourth .card .card__area .card__area-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fourth .card .card__area .card__area-text .card__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2rem;
}
@media screen and (max-width: 320px) {
  .fourth .card .card__area .card__area-text .card__title {
    width: 100%;
    font-size: 1.5rem;
  }
}
.fourth .card .card__area .card__area-text .card__description {
  opacity: 80%;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.fourth .card .card__area-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .fourth .card .card__area-footer {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 320px) {
  .fourth .card .card__area-footer {
    margin-top: -1rem;
  }
}
.fourth .card .card__area-footer .reactions {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 480px) {
  .fourth .card .card__area-footer .reactions {
    margin-top: 1rem;
  }
}
.fourth .card .card__area-footer .reactions span i {
  cursor: url("../../assets/cursor-pointer.png"), auto;
  transition: all 0.2s ease-in;
}
.fourth .card .card__area-footer .reactions span i:hover {
  color: #69cefb;
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
.fourth .card .card__area-footer .card__area-perfil {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1600px) {
  .fourth .card .card__area-footer .card__area-perfil {
    width: 30%;
  }
}
@media screen and (max-width: 320px) {
  .fourth .card .card__area-footer .card__area-perfil {
    gap: 0.25rem;
  }
}
.fourth .card .card__area-footer .card__area-perfil .card__area-perfil-img {
  width: 35%;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .fourth .card .card__area-footer .card__area-perfil {
    margin-top: 1rem;
    width: 35%;
  }
  .fourth .card .card__area-footer .card__area-perfil span {
    font-size: 1.2rem;
  }
}
.fourth .card:hover {
  transform: translateY(-15px);
  box-shadow: 15px 15px 0px 0px #2d415b;
  transition: all 0.3s ease-in-out;
}

footer {
  background-color: #141414;
  opacity: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 480px) {
  footer {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  footer {
    font-size: 1.2rem;
  }
}

.input-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .input-mobile {
    display: block;
    width: 30px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  margin: 0px 2rem;
}
@media screen and (max-width: 1600px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h2 {
  text-transform: uppercase;
  line-height: 1.125rem;
  letter-spacing: 5px;
  font-size: 1.8rem;
  font-weight: 400;
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: 1.2rem;
  }
}

.input {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  background-color: #2d415b;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.input::-moz-placeholder {
  font-size: 1.5rem;
  color: #fff;
  opacity: 16%;
}
.input::placeholder {
  font-size: 1.5rem;
  color: #fff;
  opacity: 16%;
}
.input:hover {
  background-color: #41536a;
  transition: all 0.3s ease-in-out;
}

html {
  cursor: url("../assets/cursor-default.png"), auto;
}

html.click, html.click a, html.click a:hover, a:hover, button, input {
  cursor: url("../assets/cursor-pointer.png"), auto;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.3%;
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.perfil span {
  font-size: 1.8rem;
}
.perfil:hover {
  cursor: url("../assets/cursor-pointer.png"), auto;
  background-color: #41536a;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 480px) {
  .input-text::-moz-placeholder {
    font-size: 0.8rem;
  }
  .input-text::placeholder {
    font-size: 0.8rem;
  }
}

.input-mobile {
  width: 90%;
  margin: 1rem auto;
  display: none;
}
@media screen and (max-width: 480px) {
  .input-mobile {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */